/* #### GLOBAL ####-> */

/* Unicode power symbol https://unicodepowersymbol.com/font/ */
/*
@font-face {
    font-family: 'power_symbols';
    src: url('../fonts/Unicode_IEC_symbol.woff2') format('woff2'),
         url('../fonts/Unicode_IEC_symbol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.power{
  font-family: 'power_symbols';
  font-style: normal;
  font-size: 40px;
}*/

p, span {
    font-size:20px;
}

h1, h2, h5 {
    margin: 10px 0px 10px 0px;
    text-align:center;   
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 3px solid #20b7f3;	
}

.hr_long {
    width: 75%;
}

.hr_short {
    width: 50%;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.padding_top {
    padding-top:20px;
}

.padding_top_big {
    padding-top:40px;
}

.padding_top_bottom {
    padding:40px 0px 40px 0px;
}

.bg_color {
    background-color:#20b7f3;
}

.bg_color hr {
    border-top: 3px solid #fff;
}

.text_color {
    color:#20b7f3;
}

.white_text {
    color:#fff;
}

.full_screen {
    min-height:100vh;
}

.center_content {
    /* Center text vertically and horizontally */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
/* <-#### GLOBAL #### */

/* #### PAGE LOADER ####-> */
#loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}
/* <-#### PAGE LOADER #### */

/* #### NAVIGATION BAR ####-> */

/* ## Animated toggler ##-. */
/* author reference: https://jsfiddle.net/Nagasai_Aytha/k1nz4L3h/6/ */
.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

/*.icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
}*/

.navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}
/* <-## Animated toggler ## */

.fixed-top {
    background-color: rgba(0, 0, 0, .0001);
    border-color: rgba(0, 0, 0, .0001);
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fixed-top a {
    color:#fff;
    font-size:22px;
}

.top-nav-collapse {
    background-color: #fff;
    border-color: #000;	
    border-bottom: 1px solid;	
    padding-top: 10px;
    padding-bottom: 10px;	
}

.top-nav-collapse a {
    color:#000;
}

/* <-#### NAVIGATION BAR #### */

/* #### LANDING SCREEN ####-> */
.landing_screen {
    padding:0px 0px 0px 0px;
    height:100vh;
    /* Center text vertically and horizontally */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) ), url(../images/landing_background_3.jpg);
    background-size: cover;
}

.landing_screen span {
    font-size:40px;
}
/* <-#### LANDING SCREEN #### */

/* #### ABOUT ME ####-> */
.hobby img {
    display: block;
    margin: 0 auto;
}

.hobby h4 {
    text-align:center;
}

/* <-#### ABOUT ME #### */

/* #### LAYERED IMAGE WITH TEXT ####-> */

.wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    overflow: hidden;
    position: relative;
}

#toggle_layered_image {
    position: absolute;
    z-index: 10;

    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

    display: block;
    padding: 0.6em 0.88em;
    background: linear-gradient(to right, #20b7f3 50%, #fff 50%);
    background-size: 200% 100.5%;
    background-position: right bottom;
    color: #020202;
    border: none;
    border-left: 0.30em solid #20b7f3;
    border-color: none;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
    transition: all .5s ease-out;
}

#toggle_layered_image:hover {
    background-position: left bottom;
    color: white;
}

#toggle_layered_image img {
    height: 64px;
}

.box{
    position: relative;
    background: rgba(0, 0, 0,.1);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
  
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

.layer{
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:100%;
    height: 100%;
    transition: 1s;
}

#layer_1 {
    background: url(../images/layer_1.jpg) no-repeat;
    background-size: cover;
}
#layer_2 {
    background: url(../images/layer_2.jpg) no-repeat;
    background-size: cover;
}
#layer_3 {
    background: url(../images/layer_3.jpg) no-repeat;
    background-size: cover;
}
#layer_4 {
    background: url(../images/layer_4.jpg) no-repeat;
    background-size: cover;
}

.static_text {
    position: absolute;
    margin: 0px;
    display: block;
}

.static_text.visible {
    transition-delay: 1s;
}


/* <-#### LAYERED IMAGE WITH TEXT #### */

/* #### WORK EXPERIENCE ####-> */


.logo {
    height:75px;
}

.progess_blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.progess_blocks .block {
    width: 18%;
    border-style: solid;
    border-color: #fff;
    height: 20px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.progess_blocks .filled {
    background-color:#fff;
}
/* <-#### WORK EXPERIENCE #### */

/* #### CONTACTS ####-> */
.contact_details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact_details img {
    display:block;
    margin:auto;
    height:64px;
}

.contact_details h4 {
    text-align:center;
}
/* <-#### CONTACTS #### */

/* #### FOOTER ####-> */
.footer p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
/* #### FOOTER ####-> */

/* #### MEDIA QUERIES #### */

 /* Extra extra small devices (phones, 450px and down) */
@media only screen and (max-width: 449px) {	
    /* #### LAYERED IMAGE WITH TEXT ####-> */
    .padding_bottom_small {
        padding-bottom: 420px;
    }

    #toggle_layered_image {
        top: 110px;
    }

    .box {
        width: 176px;
        height: 322px;
        margin-top: -10px;
    }

    .opened {
        width: 142px;
        height: 260px;
        margin-top: 280px;
    }

    .opened .layer:nth-child(4){
        -webkit-transform: translate(295px, -295px);
        transform: translate(295px, -295px);
    }

    .opened .layer:nth-child(3){
        -webkit-transform: translate(210px, -210px);
        transform: translate(210px, -210px);
    }
    .opened .layer:nth-child(2){
        -webkit-transform: translate(125px, -125px);
        transform: translate(125px, -125px);
    }
    .opened .layer:nth-child(1){
        -webkit-transform: translate(40px, -40px);
        transform: translate(40px, -40px);
    }	

    #step_1 {
        text-align: center;
        margin: 0 auto;
        bottom: 0px;
    }

    #step_2 {
        text-align: center;
        margin: 0 auto;
        bottom: 110px;
    }

    #step_3 {
        text-align: center;
        margin: 0 auto;
        bottom: 250px;
    }

    #step_4 {
        text-align: center;
        margin: 0 auto;
        bottom: 360px;
    }
    /* <-#### LAYERED IMAGE WITH TEXT #### */
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 450px) {	
    /* #### LAYERED IMAGE WITH TEXT ####-> */
    .padding_bottom_small {
        padding-bottom: 400px;
    }

    #toggle_layered_image {
        top: 130px;
    }

    .box {
        width: 200px;
        height: 366px;
        margin-top: -10px;
    }

    .opened {
        width: 142px;
        height: 260px;
        margin-top: 280px;
    }	

    .opened .layer:nth-child(4){
        -webkit-transform: translate(295px, -295px);
        transform: translate(295px, -295px);
    }

    .opened .layer:nth-child(3){
        -webkit-transform: translate(210px, -210px);
        transform: translate(210px, -210px);
    }
    .opened .layer:nth-child(2){
        -webkit-transform: translate(125px, -125px);
        transform: translate(125px, -125px);
    }
    .opened .layer:nth-child(1){
        -webkit-transform: translate(40px, -40px);
        transform: translate(40px, -40px);
    }	

    #step_1 {
        text-align: center;
        margin: 0 auto;
        bottom: 0px;
    }

    #step_2 {
        text-align: center;
        margin: 0 auto;
        bottom: 110px;
    }

    #step_3 {
        text-align: center;
        margin: 0 auto;
        bottom: 220px;
    }

    #step_4 {
        text-align: center;
        margin: 0 auto;
        bottom: 300px;
    }
    /* <-#### LAYERED IMAGE WITH TEXT #### */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {	
    .hide_on_medium {
        display:none;
    }

    /* #### LAYERED IMAGE WITH TEXT ####-> */
    .padding_bottom_small {
        padding-bottom: 350px;
    }

    #toggle_layered_image {
        top: 170px;
    }

    .box {
        width: 251px;
        height: 460px;
        margin-top: -20px;
    }

    .opened {
        width: 180px;
        height: 330px;
        margin-top: 340px;
    }

    .opened .layer:nth-child(4){
        -webkit-transform: translate(370px, -370px);
        transform: translate(370px, -370px);
    }

    .opened .layer:nth-child(3){
        -webkit-transform: translate(260px, -260px);
        transform: translate(260px, -260px);
    }
    .opened .layer:nth-child(2){
        -webkit-transform: translate(150px, -150px);
        transform: translate(150px, -150px);
    }
    .opened .layer:nth-child(1){
        -webkit-transform: translate(40px, -40px);
        transform: translate(40px, -40px);
    }

    #step_1 {
        text-align: center;
        margin: 0 auto;
        bottom: 0px;
    }

    #step_2 {
        text-align: center;
        margin: 0 auto;
        bottom: 80px;
    }

    #step_3 {
        text-align: center;
        margin: 0 auto;
        bottom: 190px;
    }

    #step_4 {
        text-align: center;
        margin: 0 auto;
        bottom: 270px;
    }
    /* <-#### LAYERED IMAGE WITH TEXT #### */
}

/* Small devices (portrait tablets and large phones, 767px and down) */
@media only screen and (max-width: 767px) {	
    /* #### NAVIGATION BAR ####-> */
    .navbar-toggler .icon-bar {
        background-color: #000;
    }

    .fixed-top {
        background-color:#fff;
        border-color: #000;	
        border-bottom: 1px solid;	
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fixed-top a {
        color:#000;		
    }
    /* <-#### NAVIGATION BAR #### */

    .center_on_medium h4 {
        text-align:center;
    }	
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
    .left_on_large h4 {
        text-align:left;
    }

    /* #### LAYERED IMAGE WITH TEXT ####-> */
    .padding_bottom_small {
        padding-bottom: 30px;
    }

    .static_text h4 {
        font-size: 1.5rem;
    }

    .static_text span {
        font-size:20px;
    }

    #toggle_layered_image {
        top: 185px;
    }

    .box {
        width: 275px;
        height: 505px;
        margin-top: -20px;
    }

    .opened {
        width: 180px;
        height: 330px;
        margin-top: 340px;
    }

    #step_1 {
        top: 105px;
        right: 545px;
        text-align:right;
    }

    #step_2 {
        left: 530px;
        top: 300px;
        text-align:left;
    }

    #step_3 {
        top: 305px;
        right: 545px;
        text-align:right;
    }

    #step_4 {
        left: 530px;
        top: 500px;
        text-align:left;
    }
    /* <-#### LAYERED IMAGE WITH TEXT #### */
}

@media only screen and (min-width: 992px) {
    /* #### LAYERED IMAGE WITH TEXT ####-> */
    .padding_bottom_small {
        padding-bottom: 30px;
    }

    #toggle_layered_image {
        top: 250px;
    }

    .box{
        width: 360px;
        height: 660px;
        margin-top: -40px;
    }

    .opened {
        width: 200px;
        height: 366px;
        margin-top: 340px;
    }

    .opened .layer:nth-child(4){
        -webkit-transform: translate(385px, -385px);
        transform: translate(385px, -385px);
    }

    .opened .layer:nth-child(3){
        -webkit-transform: translate(270px, -270px);
        transform: translate(270px, -270px);
    }
    .opened .layer:nth-child(2){
        -webkit-transform: translate(155px, -155px);
        transform: translate(155px, -155px);
    }
    .opened .layer:nth-child(1){
        -webkit-transform: translate(40px, -40px);
        transform: translate(40px, -40px);
    }

    #step_1 {
        top: 105px;
        right: 690px;
        text-align:right;
    }

    #step_2 {
        left: 670px;
        top: 315px;
        text-align:left;
    }

    #step_3 {
        top: 313px;
        right: 690px;
        text-align:right;
    }

    #step_4 {
        left: 670px;
        top: 523px;
        text-align:left;
    }
    /* <-#### LAYERED IMAGE WITH TEXT #### */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  
    /* #### LAYERED IMAGE WITH TEXT ####-> */
    #toggle_layered_image {
        top: 250px;
    }

    .box{
        width: 360px;
        height: 660px;
        margin-top: -40px;
    }

    .opened {
        width: 250px;
        height: 460px;
        margin-top: 380px;
    }

    .opened .layer:nth-child(4){
        -webkit-transform: translate(445px, -445px);
        transform: translate(445px, -445px);
    }

    .opened .layer:nth-child(3){
        -webkit-transform: translate(310px, -310px);
        transform: translate(310px, -310px);
    }
    .opened .layer:nth-child(2){
        -webkit-transform: translate(175px, -175px);
        transform: translate(175px, -175px);
    }
    .opened .layer:nth-child(1){
        -webkit-transform: translate(40px, -40px);
        transform: translate(40px, -40px);
    }

    #step_1 {
        right: 830px;
        top: 123px;		
        text-align:right;
    }

    #step_2 {
        left: 810px;
        top: 378px;
        text-align:left;
    }

    #step_3 {
        top: 367px;
        right: 830px;
        text-align:right;
    }

    #step_4 {
        left: 810px;
        top: 623px;
        text-align:left;
    }
    /* <-#### LAYERED IMAGE WITH TEXT #### */
} 
